#map {
  height : 375px;
  width : 100%;
  margin: 0;
  padding: 0;
}

#stats {
  margin: 0;
  padding: 0;
}

#toolbar {
  margin-top : 10px;
  width : 100%;
  text-align : right;
}

#loading {
  display : none;
}

.jumbotron {
  margin-top : 10px;
  text-align : center;
}

#jumbotron {
  display : none;
}

#BasemapToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
  border: none;
}