#map {
  height : 375px;
  width : 100%;
  margin: 0;
  padding: 0;
}

#stats {
  margin: 0;
  padding: 0;
}

#toolbar {
  margin : 10px 0;
  width : 100%;
  text-align : right;
}

#loading {
  display : none;
}

.jumbotron {
  margin-top : 10px;
  text-align : center;
}

#jumbotron {
  display : none;
}

#BasemapToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
  border: none;
}

#poly-stats {
  display : none;
}

.var-title a:visited, a:hover, a:active {
  text-decoration : none;
}
.var-title {
  border-top : 2px dashed #e3e3e3;
  border-bottom : 2px dashed #e3e3e3;
  padding : 8px 0;
}
#final-score {
  text-align : center;
}
.score-text {
  font-size : 50px;
}
.score-number {
  font-size : 50px;
  margin-top : -20px;
}
#variable-table table{
  width : 100%;
}
