#map {
  height : 100%;
  width : 100%;
  margin: 0;
  padding: 0;
}

#stats {
  height : 100%;
  width : 100%;
  margin: 0;
  padding: 0;
}

#toolbar {
  margin-top : 10px;
}

#loading {
  display : none;
}
